[submodule "GUARD/radiacode/radiacode-tools"]
	path = GUARD/radiacode/radiacode-tools
	url = https://github.com/ckuethe/radiacode-tools.git
[submodule "GUARD/radiacode/radiacode"]
	path = GUARD/radiacode/radiacode
	url = https://github.com/cdump/radiacode.git
[submodule "ATMega"]
	path = ATMega
	url = https://github.com/Terminus-Suborbital-Research-Program/ATMega.git
